/* 
 * author: ztc
 * date: 2018-4-25
 */

/* *{
    padding: 0;
    margin: 0;
} */
.weui-tab {
    position: relative;
    height: 100%;
}
.weui-tabbar {
    position: absolute;
    z-index: 500;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.weui-tabbar__item{
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 5px 0 0;
    color: #808080;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tabbar .page__bd{
    height: 100%;
    padding: 0;
}
/* 为什么tabbar border 要用伪元素去做？
box-sizing border 是要占大小的
ios微信底部44px */
.weui-tabbar:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #c0bfc4;
    /* 1px 问题  */
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.weui-tabbar__icon {
    /* 既不会像blcok那样 把兄弟元素挤下去
    又不会像inline元素一样 设置不了宽高
    它可以设置宽高并且不挤元素 */
    display: inline-block;
    width: 27px;
    height: 27px;
}
.weui-tabbar__label{
    text-align: center;
    color: #808080;
    font-size: 10px;
    line-height: 1.8;
}
.weui-bar__item_on .weui-tabbar__label{
    color: #09bb07;
}